
.iw-container {
    width: 300px;
    overflow: hidden;
}

.iw-title {
    color: #333333;
    font-size: 2.1em;
    text-align: center;
}

.iw-photo {
    display: block;
    margin: 15px auto;
    width: 200px;
    padding: 2px;
    outline: 1px solid #aaaaaa;

}

.iw-description {
    font-size: 1.1em;
    width: 100%;    
    text-align: justify;
}

.iw-social {
    display: block;
    bottom: 0;
}

.iw-social a {
    text-decoration: none;
}

.iw-social a i {
    font-size: 2.5em;
}

.iw-facebook {
    color: #3B5998;
}

.iw-instagram {
    color: #cd486b;
}

.iw-twitter {
    color: #1DA1F2;
}

.iw-website {
    color: cornflowerblue;
}

.iw-powered {
    border-top: 1px solid #eeeeee;
    color: #333333;
    padding-top: 10px;
}