
body {
    /* Standard values definition */
    --primary-color: #69448E;

    --sb-background: #fdfcf8;
    --sb-caption-color: #ae9e90;
    --sb-header-width-small: 100%;
    --sb-header-width-lg: 45%;
    --sb-header-width-xl: 40%;
    --sb-header-width-xxl: 35%;
    --sb-header-width-xxxl: 23%;

    --sb-open-width-xxs: 90%;
    --sb-open-width-xs: 90%;
    --sb-open-width-sm: 90%;
    --sb-open-width-md: 90%;
    --sb-open-width-lg: 45%;
    --sb-open-width-xl: 40%;
    --sb-open-width-xxl: 35%;
    --sb-open-width-xxxl: 23%;
}